
/* sidebar */
.sidebar {
/*background: #eee; #777*/
overflow: hidden;
}

/* Center content */
.mainContent {
  background: #fff /*999*/;
  // overflow-y: scroll;
  // overflow: hidden;
  word-wrap: break-word;
}

:host { 
  min-height: 100%;
  // display: flex;
}