/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,body { 
  height: 100%; 
  margin:0;
  background: #fff;
}

.card {
  max-width: 400px;
  display:inline-block;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.padding20 {
  padding: 20px;
}

.marginAuto {
  margin: auto;
}